/* Estilos gerais */
body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
  }

  .personalizada {
    position: absolute;
    color: #333;
    top: 0;
    right: 40px;
  }

  .novo-jogador {
    position: absolute;
    color: #333;
    top: 250px;
    right: 40px;
  }

  #forca {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  
  #palavra {
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    color: #333;
  }
  
  #jogadores {
    position: absolute;
    top: 30px;
    left: 35px;
  }

  #quem-joga {
    position: absolute;
    top: 25px;
    left: 55px;
  }

  #quem-joga {
    margin-top: 100px;
  }
  
  .linha-pontilhada {
    border-bottom: 1px dashed black;
    width: calc(50px * var(--tamanho-palavra));
    margin: 20px auto;
  }

  :root {
    --tamanho-palavra: 0;
  }  

  #tentativas {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }

  #erro {
    color:#cc0000;
  }


  #dica {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  
  .novaPalavra,
  .dicaNovaPalavra {
    margin-left: 20px;
    font-size: 12px;
    width: 150px;
    height: 25px;
    padding: 6px;
    margin: 10px;
    text-align: center;
  }

  .jogador {
    margin-left: 20px;
    font-size: 12px;
    width: 150px;
    height: 25px;
    padding: 6px;
    margin: 10px;
    text-align: center;
  }

  .jogador {
    position: absolute;
    top: 325px;
    right: 10px;
  }


  .novaPalavra {
    position: absolute;
    top: 55px;
    right: 10px;
  }
  
  .dicaNovaPalavra {
    position: absolute;
    top: 105px;
    right: 10px;
  }

  .btn-iniciar {
    position: absolute;
    top: 155px;
    right: 60px;
  }

  .btn-cadastrar {
    position: absolute;
    top: 385px;
    right: 55px;
  }

  .btn-pular {
    background-color: #ff0505;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .letra {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-verificar, .btn-iniciar, .btn-cadastrar {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn-verificar {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed; /* Posiciona o modal em relação à janela do navegador */
    z-index: 9999; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona barra de rolagem caso o conteúdo do modal seja muito grande */
    background-color: rgba(0,0,0,0.4); /* Define a cor de fundo com transparência para desfocar o conteúdo da página */
  }
  
  /* Estilo do conteúdo do modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
/* Estilo do input */
.modal-content input {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo do botão */
.modal-content button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #45a049;
}

  /* Estilo do botão para fechar o modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-verificar:hover, .btn-iniciar:hover {
    background-color: #3e8e41;
  }

  .btn-pular:hover {
    background-color: #cc0000;
  }
  
  /* Estilos para as partes da forca */
  #line-1, #line-2, #line-3, #line-4 {
    stroke: #333;
    stroke-width: 8;
  }
  
  #cabeca {
    display: none;
  }
  
  #corpo {
    display: none;
  }
  
  #braco-esquerdo {
    display: none;
  }
  
  #braco-direito {
    display: none;
  }
  
  #perna-esquerda {
    display: none;
  }
  
  #perna-direita {
    display: none;
  }
  
  /* Gradiente para o fundo */
  body {
    background: linear-gradient(to bottom, #f2f2f2, #d9d9d9);
  }
  