/* Estilos gerais */
body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 30px;
  }
  
  #forca {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  
  #palavra {
    margin-top: 20px;
    font-size: 28px;
    text-align: center;
    color: #333;
  }
  
  .linha-pontilhada {
    border-bottom: 1px dashed black;
    width: calc(50px * var(--tamanho-palavra));
    margin: 20px auto;
  }

  :root {
    --tamanho-palavra: 0;
  }
  

  #tentativas {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  
  #dica {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  /* Estilos para as partes da forca */
  #line-1, #line-2, #line-3, #line-4 {
    stroke: #333;
    stroke-width: 8;
  }
  
  #cabeca {
    display: none;
  }
  
  #corpo {
    display: none;
  }
  
  #braco-esquerdo {
    display: none;
  }
  
  #braco-direito {
    display: none;
  }
  
  #perna-esquerda {
    display: none;
  }
  
  #perna-direita {
    display: none;
  }
  
  /* Gradiente para o fundo */
  body {
    background: linear-gradient(to bottom, #f2f2f2, #d9d9d9);
  }
  